{{> layout/header}}

<!--메인페이지-->

<div class="container">
    <!-- VIP 채용관 start -->
    <div class="mb-5">
        <div class="mt-5 mb-3">
            <h3 class="text-left"><b>VIP 채용관</b></h3>
        </div>

        <div class="d-flex ">
            <div class="container">
                <a href="/kakaoAdd" class="btn">
                    <div class="card col-3 bg-primary" style="width: 220px;">
                        <img src="/image/jobaralogo.png" class="card-img-top" style="width:100%">
                        <div class=" card-body text-center text-light">
                            <p class="card-text">플랫폼 엔지니어링</p>
                        </div>
                    </div>
                </a>

                <a href="/kakaoAdd" class="btn">
                    <div class="card col-3 bg-primary" style="width: 220px;">
                        <img src="/image/jobaralogo.png" class="card-img-top" style="width:100%">
                        <div class=" card-body text-center text-light">
                            <p class="card-text">플랫폼 엔지니어링</p>
                        </div>
                    </div>
                </a>

                <a href="/kakaoAdd" class="btn">
                    <div class="card col-3 bg-primary" style="width: 220px;">
                        <img src="/image/jobaralogo.png" class="card-img-top" style="width:100%">
                        <div class=" card-body text-center text-light">
                            <p class="card-text">플랫폼 엔지니어링</p>
                        </div>
                    </div>
                </a>

                <a href="/kakaoAdd" class="btn">
                    <div class="card col-3 bg-primary" style="width: 220px;">
                        <img src="/image/jobaralogo.png" class="card-img-top" style="width:100%">
                        <div class=" card-body text-center text-light">
                            <p class="card-text">플랫폼 엔지니어링</p>
                        </div>
                    </div>
                </a>

                <a href="/kakaoAdd" class="btn">
                    <div class="card col-3 bg-primary" style="width: 220px;">
                        <img src="/image/jobaralogo.png" class="card-img-top" style="width:100%">
                        <div class=" card-body text-center text-light">
                            <p class="card-text">플랫폼 엔지니어링</p>
                        </div>
                    </div>
                </a>


            </div>
        </div>
    </div>
    <!-- VIP 채용관 end -->


    <!-- 채용 공고 start -->
    <div class="mb-5">
        <div class="mt-5 mb-3">
            <h3 class="text-left"><b>채용 공고</b></h3>
        </div>
        <div class="d-flex">
            <div>
                <div>

                </div>
                {{#jobopenList}}
                    <a href="/comp/jobopen/{{id}}" class="btn">
                        <div class="card col-3 border-2" style="width: 400px;">
                            <img src="/image/jobaralogo.png" class="card-img-top" style="width:100%">
                            <div class="card-body text-start">
                                <br>
                                <h5 class="card-title">{{jobopenTitle}}</h5>
                                <div>
                                    <hr>
                                    {{#scrap.isScrap}}-->
                                        <i id="bookmark" onclick="bookmarkToggle({{id}})"
                                           class="fas fa-bookmark text-warning"></i>
                                    {{/scrap.isScrap}}
                                    {{^scrap.isScrap}}
                                        <i id="bookmark" onclick="bookmarkToggle({{id}})"
                                           class="far fa-bookmark"></i>
                                    {{/scrap.isScrap}}
                                    <input type="hidden" id="scrap-id" value="{{scrap.id}}">
                                    <p class="card-text">{{jobopenTitle}} / {{edu}} / {{career}}</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </a>
                {{/jobopenList}}


            </div>
        </div>
    </div>
    <!-- 채용 공고 end -->
</div>
<script>
    function bookmarkToggle(resumeId) {

        // 좋아요 하기
        if ($("#scrap").hasClass("far")) {
            let scrap = {
                resumeId: resumeId
            }
            $.ajax({
                url: "/api/scrap",
                type: "post",
                data: JSON.stringify(scrap),
                contentType: "application/json; charset=utf-8"
            }).done((res) => {
                console.log(res);
                $("#scrap").removeClass("far");
                $("#scrap").addClass("text-warning");
                $("#scrap").addClass("fas");
                // 좋아요가 되면 love id를 변경해야함
                $("#scrap-id").val(res.body.id);
            }).fail((res) => {
                alert(res.responseJSON.msg);
            });
        } else { // 북마크 취소 하기
            let scrapId = $("#scrap-id").val();
            $.ajax({
                url: "/api/scrap/" + scrapId,
                type: "delete"
            }).done((res) => {
                console.log(res);
                $("#scrap").removeClass("fas");
                $("#scrap").removeClass("text-warning");
                $("#scrap").addClass("far");

                // 좋아요가 취소되면 love id 초기화
                $("#scrap-id").val(0);
            }).fail((res) => {
                alert(res.responseJSON.msg);
            });
        }
    }
</script>


{{> layout/footer}}
