{{> layout/header}}

<!-- 기업 인재명단 페이지 -->
<!-- 추가된 추천 인재 명단 start -->
<div class="container">
    <div class="card-body">
        <h3 class="text-left mb-4">추천 인재 명단</h3>
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card p-3 text-center" onclick="window.location.href='/resumeList'">
                    <img src="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title"><strong>프론트엔드 개발자</strong></h5>
                        <p class="card-text">경기도 수원시 | 5년 | 대졸이상</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card p-3 text-center" onclick="window.location.href='/resumeList'">
                    <img src="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title"><strong>프론트엔드 개발자</strong></h5>
                        <p class="card-text">경기도 수원시 | 5년 | 대졸이상</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card p-3 text-center" onclick="window.location.href='/resumeList'">
                    <img src="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title"><strong>프론트엔드 개발자</strong></h5>
                        <p class="card-text">경기도 수원시 | 5년 | 대졸이상</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card p-3 text-center" onclick="window.location.href='/resumeList'">
                    <img src="" class="card-img-top rounded-circle">
                    <div class="card-body">
                        <h5 class="card-title"><strong>프론트엔드 개발자</strong></h5>
                        <p class="card-text">경기도 수원시 | 5년 | 대졸이상</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 추가된 추천 인재 명단 end -->
        <br><br>
        <!-- 인재 명단 start -->
        <h3 class="text-left mb-4">인재 명단</h3>
        <div class="d-flex">
            <div>
                {{#resumeList}}
                    <a href="/guest/resume/{{id}}" class="btn">
                        <div class="card col-3 border-2" style="width: 400px;">
                            <img src="/image/jobaralogo.png" class="card-img-top" style="width:100%">
                            <div class="card-body text-start">
                                <br>
                                <div>
                                    {{#scrap.isScrap}}-->
                                        <i id="bookmark" onclick="bookmarkToggle({{id}})"
                                           class="fas fa-bookmark text-warning"></i>
                                    {{/scrap.isScrap}}
                                    {{^scrap.isScrap}}
                                        <i id="bookmark" onclick="bookmarkToggle({{id}})" class="far fa-bookmark"></i>
                                    {{/scrap.isScrap}}
                                    <input type="hidden" id="scrap-id" value="{{scrap.id}}">
                                    <hr>
                                    <p class="card-text">{{resumeTitle}} / {{edu}} / {{career}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {{/resumeList}}
                <!-- 추가된 인재 정보들 -->
                </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><br><br>

    <script>
        function bookmarkToggle(resumeId) {

            // 좋아요 하기
            if ($("#scrap").hasClass("far")) {
                let scrap = {
                    resumeId: resumeId
                }
                $.ajax({
                    url: "/api/scrap",
                    type: "post",
                    data: JSON.stringify(scrap),
                    contentType: "application/json; charset=utf-8"
                }).done((res) => {
                    console.log(res);
                    $("#scrap").removeClass("far");
                    $("#scrap").addClass("text-warning");
                    $("#scrap").addClass("fas");
                    // 좋아요가 되면 love id를 변경해야함
                    $("#scrap-id").val(res.body.id);
                }).fail((res) => {
                    alert(res.responseJSON.msg);
                });
            } else { // 북마크 취소 하기
                let scrapId = $("#scrap-id").val();
                $.ajax({
                    url: "/api/scrap/" + scrapId,
                    type: "delete"
                }).done((res) => {
                    console.log(res);
                    $("#scrap").removeClass("fas");
                    $("#scrap").removeClass("text-warning");
                    $("#scrap").addClass("far");

                    // 좋아요가 취소되면 love id 초기화
                    $("#scrap-id").val(0);
                }).fail((res) => {
                    alert(res.responseJSON.msg);
                });
            }
        }
    </script>
    <!-- 인재 명단 end -->

{{> layout/footer}}